<div class="view">
  <div class="search">
    <div class="search-box">
      <label for="search">Search</label>
      <input
        id="search"
        type="text"
        placeholder="Velociraptor"
        [ngModel]="searchTerm()"
        (ngModelChange)="searchTermChanged($event)"
      />
    </div>
  </div>
  <div class="content">
    @for(dino of filteredDinos(); track dino.id){
      <app-dino-card [dino]="dino"></app-dino-card>
    } @empty {
      <p style="color:white">
        No dino found
      </p>
    }
  </div>
</div>
