<div class="card">
  <div class="title">
    {{dino.name}}
    <div>
      <button mat-icon-button (click)="like()">
        <mat-icon [matBadge]="likeCount()">favorite</mat-icon>
      </button>
      <a mat-icon-button [routerLink]="'/dinos/'+dino.id">
        <mat-icon>info</mat-icon>
      </a>
    </div>
  </div>
  <img [ngSrc]="dino.imageUrl" [width]="400" [height]="400" alt="">
  <p>
    {{dino.description}}
  </p>
  @switch (dino.type){
    @case ('herbivorous'){
      🥦🥦🥦
    }
    @case ('carnivorous'){
      🥩🥩🥩
    }
    @default {
      🥦🥩🥦
    }
  }
  <div [ngSwitch]="dino.type">
    <p *ngSwitchCase="'herbivorous'">
      🥦🥦🥦
    </p>
    <p *ngSwitchCase="'carnivorous'">
      🥩🥩🥩
    </p>
    <p *ngSwitchCase="'omnivorous'">
      🥦🥩🥦
    </p>
  </div>
</div>
